<div class="theme">
  <!-- Modern Toolbar -->
  <app-toolbar></app-toolbar>
  <!-- Hero Section -->
  <div class="hero">
    <h1>Welcome to The AI Hub</h1>
    <p>The place for intelligent data processing.</p>
    <button mat-raised-button color="accent" class="cta-button">
      Learn More
    </button>
  </div>

  <!-- Card Section -->
  <div class="content">
    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Angular & React</mat-card-title>
          <mat-card-subtitle>Frontends</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Intuitive, easy to use, user interfaces. Built using the latest most
            reliable versions of Angular and React.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Dotnet, Django, Nestjs</mat-card-title>
          <mat-card-subtitle>Backends</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Robust, scalable, secure, efficient backends. Utilizing AI tools to
            provide advanced data analysis, informative dashboards, and
            intuitive context to the user.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title
            >PostgresSQL, Entity Framework, SQL Server</mat-card-title
          >
          <mat-card-subtitle>Databases</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Databases optimized to fit every use case. Ensuring your data is
            stored efficiently, securely, and readily available at your request.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
