.hometoolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: var(--tool-bar-background-color) !important;
  color: var(--text-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Spacer to push buttons to the right */
.spacer {
  flex: 1; /* Takes up all available space to push buttons to the right */
}

/* Navigation Buttons Container */
.nav-buttons {
  display: flex;
  gap: 24px; /* Space between buttons */
  justify-content: flex-end; /* Align buttons to the right */
}

/* === Toolbar Text === */
.bigtext {
  font-size: 24px;
  font-weight: 600;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); /* Subtle text shadow */
}

.nav-button {
  color: var(--text-color);
  font-weight: 500;
  margin-left: 12px;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button:hover {
  background-color: var(--primary-button-color);
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  color: white;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-button:hover {
  background-color: var(--primary-button-color);
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--tool-bar-background-color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  border-radius: 8px;
  padding: 8px 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown-content a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: var(--primary-button-color);
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
