<mat-toolbar class="hometoolbar" color="primary">
  <button mat-button [routerLink]="['/']" class="home-button bigtext">
    The AI Hub
  </button>
  <span class="spacer"></span>
  <button mat-button [routerLink]="['/services']" class="nav-button">
    Services
  </button>
  <a
    mat-button
    href="https://github.com/Chasertx/pyngularAI/tree/master"
    target="_blank"
    rel="noopener noreferrer"
    class="nav-button"
  >
    Repository
  </a>
  <button mat-button [routerLink]="['/contact']" class="nav-button">
    Contact Us
  </button>

  <!-- Dropdown Menu -->
  <div class="dropdown">
    <button mat-button class="dropdown-button">Tools</button>
    <div class="dropdown-content">
      <a [routerLink]="['/feedback']">Feedback Sentiment Analysis</a>
      <a [routerLink]="['/summarizer']">Story Summarizer</a>
      <a [routerLink]="['/']">Database Visualizer</a>
    </div>
  </div>
</mat-toolbar>
